.error-page {
  text-align: center;
  margin-top: 50px;
}

.error-logo {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

h1 {
  color: #d9534f;
  font-size: 3rem;
}

p {
  font-size: 1.2rem;
  color: #333;
}
